.footer-items {
  padding-top: 80px;
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 80px;
  background: #1e212c;
  color: #fff;
}
.footer-items .first-line {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
}
.footer-items .first-line p {
  opacity: 0.6;
}
.footer-items .first-line .icons {
  padding-top: 14px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.footer-items .other-line {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
}
.footer-items .other-line h5 {
  padding-bottom: 4px;
  color: #fff;
  /* base/regular */
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}
.footer-items .other-line p {
  color: #fff;
  /* base/regular */
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  opacity: 0.6;
}
.footer-items .other-line input {
  margin-top: 16px;
  margin-bottom: 4px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.12);
  padding: 9px 12px;
  width: 286px;
  height: 36px;
  color: #fff;
  /* extrasmall/regular */
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}

.footer2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background: #292c37;
  padding: 20px 113px;
}
.footer2 p {
  color: var(--white, #fff);
  /* extrasmall/regular */
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
.footer2 h5 {
  color: var(--white, #fff);
  /* small/bold */
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 21px */
  opacity: 0.6;
}

.home-section {
  padding-top: 128px;
  padding-bottom: 97px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 189px;
  background: #fedbd3;
}
.home-section .top-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 180px;
  flex-wrap: wrap;
}
.home-section .top-items .top-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
}
.home-section .top-items .top-left .player {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-section .top-items .top-left .player p {
  color: #1e212c;
  /* small/bold */
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 21px */
}
.home-section .top-items .top-left .player img {
  width: 74px;
  height: 74px;
}
.home-section .top-items .top-left h3 {
  color: #1e212c;
  /* display/2 */
  font-family: Lato;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 130%; /* 83.2px */
  letter-spacing: 1px;
}
.home-section .top-items .top-left .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}
.home-section .top-items .top-left .buttons button {
  border-radius: 4px;
  border: 1px solid #ff3f3a;
  padding: 13px 40px;
  background: transparent;
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  color: #ff3f3a;
}
.home-section .top-items .top-left .buttons button:hover {
  background: linear-gradient(56deg, #ff3f3a 0%, #f75e05 100%);
  color: white;
}
.home-section .bottom-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 66px;
}
.home-section .bottom-items .item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.home-section .bottom-items .item h5 {
  color: #1e212c;
  text-align: center;
  /* h1 */
  font-family: Lato;
  font-size: 46px;
  font-style: normal;
  font-weight: 900;
  line-height: 130%; /* 59.8px */
}
.home-section .bottom-items .item p {
  color: #1e212c;
  /* base/regular */
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

.main {
  padding-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 180px;
}
.main .cause {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 135px;
}
.main .cause .right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
}
.main .cause .right h6 {
  color: #1e212c;
  /* h6 */
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  letter-spacing: 1px;
  text-transform: uppercase;
}
.main .cause .right h4 {
  padding-bottom: 28px;
  color: #1e212c;
  /* h1 */
  font-family: Lato;
  font-size: 46px;
  font-style: normal;
  font-weight: 900;
  line-height: 130%; /* 59.8px */
}
.main .cause .right .itemss {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.main .cause .right .itemss p {
  color: #424551;
  /* base/regular */
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}
.main .cause .right button {
  margin-top: 36px;
  border-radius: 4px;
  background: linear-gradient(56deg, #ff3f3a 0%, #f75e05 100%);
  padding: 13px 32px;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  /* 314.286% */
  letter-spacing: 0.5px;
}
.main .featured-course {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
}
.main .featured-course h5 {
  color: #1e212c;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  letter-spacing: 1px;
  text-transform: uppercase;
}
.main .featured-course .top-need {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 615px;
}
.main .featured-course .top-need h4 {
  color: #1e212c;
  /* h1 */
  font-family: Lato;
  font-size: 46px;
  font-style: normal;
  font-weight: 900;
  line-height: 130%; /* 59.8px */
}
.main .featured-course .top-need button {
  border-radius: 4px;
  border: 1px solid #ff3f3a;
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; /* 325% */
  letter-spacing: 0.5px;
  padding: 0 40px;
  background: transparent;
  color: #ff3f3a;
}
.main .featured-course .top-need button:hover {
  color: #fff;
  background: linear-gradient(56deg, #ff3f3a 0%, #f75e05 100%);
}
.main .featured-course .feature-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.main .featured-course .feature-item .item {
  margin-top: 48px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
  border-radius: 4px;
  border: 1px solid var(--gray-300, #e5e8ed);
  background: var(--white, #fff);
  /* shadow/small */
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}
.main .featured-course .feature-item .item .item-des {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  padding-right: 32px;
  padding-top: 32px;
}
.main .featured-course .feature-item .item .item-des h5 {
  border-radius: 4px;
  background: #03cea4;
  padding: 0 8px;
  color: #fff;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}
.main .featured-course .feature-item .item .item-des h4 {
  color: #1e212c;
  /* lead/bold */
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
}
.main .featured-course .feature-item .item .item-des span {
  color: #ff4242;
  /* large/bold */
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 27px */
}
.main .featured-course .feature-item .item .item-des p {
  color: #787a80;
  /* large/regular */
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}
.main .featured-course .feature-item .item:hover {
  border-radius: 4px;
  border: 1px solid var(--gray-300, #e5e8ed);
  background: var(--white, #fff);
  /* shadow/regular */
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 80px 80px -20px rgba(154, 156, 165, 0.16);
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding-top: 33px;
  background: #fedbd3;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.nav-links li .link {
  color: #424551;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 25.6px */
}
.nav-links li .link:hover {
  color: #ff3f3a;
}
.nav-links .btn-1 {
  margin-left: 65px;
}
.nav-links button {
  padding: 13px 40px;
  border-radius: 4px;
  background: transparent;
  border: none;
  color: #424551;
  /* base/bold */
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 25.6px */
  transition: all 0.5s linear;
}
.nav-links button:hover {
  background: linear-gradient(56deg, #ff3f3a 0%, #f75e05 100%);
  color: white;
}

@media screen and (max-width: 1000px) {
  .nav-items .nav-links {
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

li a {
  text-decoration: none;
}

button {
  cursor: pointer;
  transition: all 0.5s linear;
}

/*# sourceMappingURL=main.css.map */
