* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul li {
  list-style: none;
}

li a {
  text-decoration: none;
}

button {
  cursor: pointer;
  transition: all 0.5s linear;
}
// #root {
//   background: #000;
// }
