.footer-items {
  padding-top: 80px;
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 80px;
  background: #1e212c;
  color: #fff;
  .first-line {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
    p {
      opacity: 0.6;
    }
    .icons {
      padding-top: 14px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
  }
  .other-line {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
    h5 {
      padding-bottom: 4px;
      color: #fff;

      /* base/regular */
      font-family: Lato;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 25.6px */
    }
    p {
      color: #fff;

      /* base/regular */
      font-family: Lato;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 25.6px */
      opacity: 0.6;
    }
    input {
      margin-top: 16px;
      margin-bottom: 4px;
      border-radius: 4px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      background: rgba(255, 255, 255, 0.12);
      padding: 9px 12px;
      width: 286px;
      height: 36px;
      color: #fff;

      /* extrasmall/regular */
      font-family: Lato;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 18px */
    }
  }
}

.footer2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  // gap: 868px;
  background: #292c37;
  padding: 20px 113px;
  p {
    color: var(--white, #fff);

    /* extrasmall/regular */
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */
  }
  h5 {
    color: var(--white, #fff);

    /* small/bold */
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 21px */
    opacity: 0.6;
  }
}
