.home-section {
  padding-top: 128px;
  padding-bottom: 97px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 189px;
  background: #fedbd3;
  .top-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 180px;
    flex-wrap: wrap;
    .top-left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 24px;
      .player {
        display: flex;
        align-items: center;
        justify-content: center;
        p {
          color: #1e212c;

          /* small/bold */
          font-family: Lato;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 150%; /* 21px */
        }
        img {
          width: 74px;
          height: 74px;
        }
      }
      h3 {
        color: #1e212c;

        /* display/2 */
        font-family: Lato;
        font-size: 64px;
        font-style: normal;
        font-weight: 900;
        line-height: 130%; /* 83.2px */
        letter-spacing: 1px;
      }
      .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
        flex-wrap: wrap;
        button {
          border-radius: 4px;
          border: 1px solid #ff3f3a;
          padding: 13px 40px;
          background: transparent;
          text-align: center;
          font-family: Lato;
          font-size: 16px;
          font-weight: 700;
          font-style: normal;
          color: #ff3f3a;
          //   transition: all 0.5s ease-in-out;

          &:hover {
            background: linear-gradient(56deg, #ff3f3a 0%, #f75e05 100%);
            color: #ffff;
          }
        }
      }
    }
  }
  .bottom-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 66px;
    .item {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      h5 {
        color: #1e212c;
        text-align: center;

        /* h1 */
        font-family: Lato;
        font-size: 46px;
        font-style: normal;
        font-weight: 900;
        line-height: 130%; /* 59.8px */
      }
      p {
        color: #1e212c;

        /* base/regular */
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 25.6px */
      }
    }
  }
}
.main {
  padding-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 180px;
  .cause {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 135px;
    .right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 12px;
      h6 {
        color: #1e212c;

        /* h6 */
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 24px */
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      h4 {
        padding-bottom: 28px;
        color: #1e212c;

        /* h1 */
        font-family: Lato;
        font-size: 46px;
        font-style: normal;
        font-weight: 900;
        line-height: 130%; /* 59.8px */
      }
      .itemss {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        p {
          color: #424551;

          /* base/regular */
          font-family: Lato;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 160%; /* 25.6px */
        }
      }
      button {
        margin-top: 36px;
        border-radius: 4px;
        background: linear-gradient(56deg, #ff3f3a 0%, #f75e05 100%);
        padding: 13px 32px;
        border: none;
        color: #fff;
        text-align: center;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        /* 314.286% */
        letter-spacing: 0.5px;
      }
    }
  }
  .featured-course {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
    h5 {
      color: #1e212c;
      font-family: Lato;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%; /* 24px */
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    .top-need {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 615px;
      h4 {
        color: #1e212c;

        /* h1 */
        font-family: Lato;
        font-size: 46px;
        font-style: normal;
        font-weight: 900;
        line-height: 130%; /* 59.8px */
      }
      button {
        border-radius: 4px;
        border: 1px solid #ff3f3a;
        text-align: center;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 52px; /* 325% */
        letter-spacing: 0.5px;
        padding: 0 40px;
        background: transparent;
        color: #ff3f3a;
        &:hover {
          color: #fff;
          background: linear-gradient(56deg, #ff3f3a 0%, #f75e05 100%);
        }
      }
    }
    .feature-item {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      flex-wrap: wrap;
      .item {
        margin-top: 48px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 32px;
        border-radius: 4px;
        border: 1px solid var(--gray-300, #e5e8ed);
        background: var(--white, #fff);

        /* shadow/small */
        box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03),
          0px 12px 10px -6px rgba(154, 156, 165, 0.04),
          0px 30px 24px -10px rgba(154, 156, 165, 0.05),
          0px 80px 80px -20px rgba(154, 156, 165, 0.08);
        .item-des {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          gap: 20px;
          padding-right: 32px;
          padding-top: 32px;
          h5 {
            border-radius: 4px;
            background: #03cea4;
            padding: 0 8px;
            color: #fff;
            font-family: Lato;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 21px */
          }
          h4 {
            color: #1e212c;

            /* lead/bold */
            font-family: Lato;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%; /* 30px */
          }
          span {
            color: #ff4242;

            /* large/bold */
            font-family: Lato;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%; /* 27px */
          }
          p {
            color: #787a80;

            /* large/regular */
            font-family: Lato;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 27px */
          }
        }
        &:hover {
          border-radius: 4px;
          border: 1px solid var(--gray-300, #e5e8ed);
          background: var(--white, #fff);

          /* shadow/regular */
          box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05),
            0px 12px 10px -6px rgba(154, 156, 165, 0.08),
            0px 30px 24px -10px rgba(154, 156, 165, 0.1),
            0px 80px 80px -20px rgba(154, 156, 165, 0.16);
        }
      }
    }
  }
}
