.nav-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding-top: 33px;
  background: #fedbd3;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  li .link {
    color: #424551;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 25.6px */
  }
  li .link:hover {
    color: #ff3f3a;
  }
  .btn-1 {
    margin-left: 65px;
  }
  button {
    padding: 13px 40px;
    border-radius: 4px;
    background: transparent;
    border: none;
    color: #424551;

    /* base/bold */
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 25.6px */
    transition: all 0.5s linear;
    &:hover {
      background: linear-gradient(56deg, #ff3f3a 0%, #f75e05 100%);
      color: #ffff;
    }
  }
}
// 165--nav-buttons

@media screen and (max-width: 1000px) {
  .nav-items {
    .nav-links {
      display: none;
    }
  }
}
